 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Total Cost </h2>
                    <hr class="star-light">
                </div>
            </div>

	    <div class="row">
	      <div class="col-lg-8 col-lg-offset-2">

	    <p> To take off you all the hurdles of your website, to save your time, to cover you in case of emergencies, to provide you with unlimited small fixes and unlimited small changes, to let you focus only on grow your bussinnes we ask for 595€/month </p>

	    <p> We provide 30 days of money-back guarantee, if you are not satisfied by our service we won't charge you. </p>
	      </div>
	    </div>
	    <div class="row">
	      
	      <div class="col-lg-6 col-lg-offset-3">
		<div class="well bs-component">
		
		  <h4> More question </h4>
		  <p> Leave your email address and reserve your free, no obligation, consultation </p>
		
		  <form class="form-horizontal"
			action="//formspree.io/simone@mweb.biz"
			method="POST">

		    <fieldset>
		      <div class="form-group">
			<label class="col-lg-2"> Name: </label>
			<div class="col-lg-10">
			  <input type="text"
				 name="name"
				 placeholder="Your Name"
				 class="form-control">
			</div>
		      </div>
		      
		      <div class="form-group">
			<label class="col-lg-2"> Email: </label>
			<div class="col-lg-10">
			  <input type="email"
				 name="_replyto"
				 placeholder="Your Email"
				 class="form-control">
			</div>
		      </div>

		      <input type="hidden"
			     name="_next"
			     value="//">
		      
		      <div class="form-group">
			
			<div class="col-lg-2 col-lg-offset-2">
			  <button type="submit" class="btn btn-primary">
			    Reserve your free consultation.
			  </button>
			</div>
		      </div>
			
		    </fieldset>
		  </form>
		  
		</div>
	      </div>
	    </div>
	</div>
	    
    </section>
