
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Frequentely Asked Question </h2>
                    <hr class="star-primary">
                </div>
            </div>
	    
	    <div class="row">
	      <div class="col-xs-8 col-xs-offset-2">
		<h3> Since I will enjoy "small changes" and "small fixes" for free, what you mean by "small" ? </h3>
		<p> "Small" is anything that can be done between one hour and a couple of days, we know what a "big" job is and we will let you know, however we are pretty flexible. </p>
		<h3> Can you make an example ? </h3>
		<p> Sure, you may want to change the background color, done.</p>
		<p>  Or you may want to change the font, done. </p>
		<p> You want to move a section of your website, done. </p>
		<p> Everything you can think of. </p>
		<h3> Technically, what are you going to do ?</h3>
		<p> Other than all the small changes that you ask, we will test your website in different browser and platform, we will apply the best engineering practise to your backend, we will fix all the anomalies that can arise.</p>
		<h3> Can I count on you at every time ? </h3>
		<p> Sure, we will do our best to reply any of your inquiry in 24 hr, usually we are faster (4/5 hr) </p>
	      </div>
	    </div>
    </section>
