
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Your shop is taking off, but... </h2>
                    <hr class="star-primary">
		    
                </div>
            </div>
	    
	    <div class="row">
	      <div class="col-xs-8 col-xs-offset-2">

		<p> You don't have the expertise to techinically maintain your shop, we are here to help. </p>
		<p> You waste more time trying to make small fix to your shop than to make your business fly, we are here to help. </p>
		<p> You don't know that any website need maintenance to stay up to date with the last technologies, we are here to help. </p>
		<p> You have already tried to contact a freelancer to fix your website, only to find out that good developers and designers are completely booked for the next 3 months, we are here to help. </p>
	      </div>
	    </div>

	    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-primary">
	            <h2> We are here to help you </h2>
                </div>
            </div>
	    
    </section>
