
    <!-- Portfolio Grid Section -->
    <section id="success_stories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Your business will be safe </h2>
                    <hr class="star-primary">
                </div>
            </div>

	    
	    <div class="row">
	      <div class="col-xs-8 col-xs-offset-2">

	    
		<p> Your shop will just work, without effort from  your side, for now and for ever. </p>
		<p> Your costumer will enjoy a better web site and they will come back, for now and for ever. </p>
		<p> Your shop will remain of top quality thanks to small and incremental fixes and chanegs, for now and for ever. </p>
		<p> You will enjoy to makes small changes to your website simply sending an email, for now and for ever. </p>
		<p> Since you are focusing only on your bussinnes, it will grow and grow, for now and for ever. </p>
              </div>
	    </div>

	    <div class="row">
                <div class="col-lg-12 text-center">
                  <hr class="star-primary">
		  <h2> For now and for ever </h2>
                </div>
            </div>
	    
	</div>
    </section>
